.xheader .xheader_menu {
  background: #8e488e;
  color: white;
  align-items: center;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%; }

.xheader .xheader_menu h2 {
  font-size: 16px;
  text-align: center;
  display: inline-block;
  flex: 1;
  padding: 0;
  margin: 0; }

.xheader .xheader_menu span {
  font-size: 20px;
  display: inline-block;
  margin: 0 10px; }

.xheader .xheader_menu span:last-child {
  text-align: right; }

section {
  margin-bottom: 10px; }

.first .leftimg {
  display: flex;
  background: linear-gradient(90deg, #0b0509, #581c0a);
  height: 86px;
  color: white;
  align-items: center;
  position: relative; }

.first .leftimg .touxiang img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-left: 35px;
  margin-right: 10px; }

.first .leftimg div h3 {
  margin-bottom: 10px; }

.first .leftimg div a img {
  width: 15px;
  height: 15px;
  margin-right: 10px; }

.first .leftimg div span {
  font-size: 18px;
  font-weight: bold; }

.first .leftimg .tiaozhuan {
	color: white;
	display: block;
  position: absolute;
  right: 20px;
  top: 30px; }

.first ul {
  display: flex;
  height: 60px;
  padding: 10px;
  align-items: center;
  background-color: white; }

.first li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000; }

.first li {
  float: left;
  flex: 1;
  text-align: center;
  border-right: 1px solid #ccc; }

.first li p {
  color: #aaa; }

.first li:last-child {
  border: none; }

.three {
  margin-bottom: 50px; }

.second, .three {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px; }

.second a, .three a {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid #ccc;
  color: #444; }

.second a img, .three a img {
  margin-left: 20px;
  margin-right: 10px; }

.second a:last-child, .three a:last-child {
  border: none; }

.second a span:last-child, .three a span:last-child {
  position: absolute;
  right: 20px;
  top: 15px; }

.second a .gaoliang {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8e488e;
  color: white;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 40px;
  top: 17px; }
