.xheader .xheader_menu {
	background: #8e488e;
	color: white;
	align-items: center;
	height: 40px;
	display: flex;
	align-items: center;
	width: 100%
}

.xheader .xheader_menu h2 {
	font-size: 16px;
	text-align: center;
	display: inline-block;
	flex: 1;
	padding:5px 0;

	margin: 0;
}

.xheader .xheader_menu span {
	font-size: 20px;
	display: inline-block;
	margin: 0 10px
}

.xheader .xheader_menu span:last-child {
	text-align: right
}


 .caidan {
	display: none;
	z-index: 3;
	background-color: #111;
	opacity: 0.7;
	position: fixed;
	right: 10px;
	top: 40px
}

 .caidan::before {
	content: "";
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #111;
	position: absolute;
	right: 10px;
	top: -20px
}

 .caidan li {
	width: 120px;
	height: 34px;
	border-bottom: 1px solid #122B40;
	line-height: 34px;
	text-align: center
}

 .caidan li a {
	color: white;
	display: block;
	width: 120px;
	height: 34px
}
.active {
  background: white;
  color: black; }

.tabs {
  background-size: auto 100%;
  width: 100%;
  overflow: hidden; }

.news-list {
  padding: 0; }

.news-list li {
  list-style: none;
  font-size: 1em; }

.tu {
  text-align: center; }

.tu img {
  width: 70%;
  height: 300px; }

.details p {
  color: gray;
  font-size: 1em; }

.details .b {
  color: black;
  font-size: 1.2em; }

.details .jg {
  color: red; }

.pj {
  border-bottom: 8px solid darkgray; }

.pj img {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.pj .one {
  justify-content: space-between;
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid darkgray; }

.pj .xing {
  margin: 5px 0;
  color: red; }

.pj .day,
.buy {
  color: darkgray;
  font-size: 0.9em; }

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  border-top: solid #8e488e 1px;
  display: flex;
  text-align: center; }
  .footer .total1 {
    flex: 1;
    background: white;
    padding: 10px 0;
    position: relative; }
    .footer .total1 .shu {
      display: block;
      background: #8e488e;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      color: white;
      position: absolute;
      top: 10px;
      left: 80px;
      text-align: center; }
    .footer .total1 .iconfont {
      font-size: 30px; }
  .footer .total2 {
    flex: 1;
    background: #dd3d97;
    padding: 10px 0;
    color: white; }
  .footer .total3 {
    flex: 1;
    background: #8e488e;
    padding: 10px 0;
    color: white; }
