
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477991905454'); /* IE9*/
  src: url('iconfont.eot?t=1477991905454#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477991905454') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477991905454') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477991905454#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before { content: "\e604"; }

.icon-shouye:before { content: "\e691"; }

.icon-jiantou:before { content: "\e615"; }

.icon-iconfont08:before { content: "\e60c"; }

.icon-fenlei:before { content: "\e657"; }

.icon-lifangti:before { content: "\e72d"; }

.icon-jifen:before { content: "\e674"; }

.icon-jifen1:before { content: "\e634"; }

.icon-gerenzhongxin:before { content: "\e6b2"; }

.icon-xing:before { content: "\e616"; }

