//底部
.footer{position: fixed;bottom: 0;height: 50px;background: white;width: 100%;z-index: 5;border-top:solid #cccccc 2px;}
.footer nav{display: flex;}
.footer div{flex: 1;text-align: center;}
.footer div span{display: block;margin-bottom: 3px;color:#777777;font-size: 20px;}
.footer div span:nth-child(2){font-size: 12px;}
.footer .active span{color:#8e488e;}