//头部菜单
.xheader{position: fixed;top: 0;width: 100%;z-index: 5;}
.xheader .xheader_menu{background: #8e488e;color: white;height: 40px;display: flex;align-items: center;width: 100%;}
.xheader .xheader_menu h2{font-size:16px;text-align: center;display: inline-block;flex: 1;padding: 0;margin: 0;}
.xheader .xheader_menu span{font-size:20px;display: inline-block;margin: 0 10px;flex: 1;}
.xheader .xheader_menu span:last-child{text-align: right;}

//内容
.xcontent{margin-top: 40px;display: flex;flex-wrap: wrap;}
.xcontent .goods{display: flex;width: 100%;border-bottom: dotted #ccc 1px;padding: 10px 5px;}
.xcontent .part1{flex: 1;display: flex;align-items: center;justify-content: center;}
.xcontent .part1 img{margin-left: 10px;width: 70%;border-radius:5px ;}
.xcontent .part1 span{font-size: 20px;color: #e5e5e5;}
.xcontent .part2{flex: 2;padding: 0 10px;}
.xcontent .part2 p{color: #f00080;padding-left: 10px;}
.xcontent .part2 .shuliang{display:flex;justify-content: flex-end;}
.xcontent .part2 .shuliang span{width: 30px;height: 30px;display: flex;justify-content: center;align-items: center;}
.xcontent  .part2 .shuliang span:nth-of-type(1){border: solid #ccc 1px;border-bottom-left-radius:7px;border-top-left-radius:7px;}
.xcontent  .part2 .shuliang span:nth-of-type(2){border: solid #ccc 1px;border-width:1px 0;}
.xcontent  .part2 .shuliang span:nth-of-type(3){border: solid #ccc 1px;border-bottom-right-radius:7px;border-top-right-radius:7px;}

//底部
.footer{position: fixed; bottom: 0;width: 100%;z-index: 5;border-top: solid #8e488e 1px;display: flex;}
.footer .checkbox{flex: 1;display: flex;justify-content: center;align-items: center;background: white;margin: 0;height: 50px;}
.footer .checkbox p{margin-bottom: 0;font-size: 14px;}
.footer .checkbox span{margin-right: 5px;font-size: 16px;color: #e5e5e5;}
.footer .total{flex: 3;background:#8e488e;display: flex;justify-content: center;align-items: center;}
.footer .total p{margin-bottom: 0;color: white;font-size: 14px;}