body{font-family: "微软雅黑";background: yellow;height: 2000px;}
.main{background: skyblue;font-size:40px;}
 /** 清除内外边距 **/
body,h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: #f5f5f5;
    
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 12px;
}
img{
    display: block;
}
#wrap-top,#wrap-center,#wrap-bottom,#wrap-footer{
    width: 100%;
    /*width: 97.3%;*/
}

.top,.center,.bottom,.footer{
    width: 1200px;
/*  width: 86.6%;*/
    margin: 0 auto;
}


/*头部样式开始*/
#wrap-top{ background: #f2f2f2;}
.top{
    
    height: 33px;
    overflow: hidden;
}
.top-left{
    float: left;
    background:url(../img/slogen.png) no-repeat 0 3px;
}
.top-left a{
    display: block;
    margin-left: 26px;
    height: 33px;
    line-height: 33px;
    
    color: #999999;
}
.top-left a:hover{
    color:red;
}
.top-right{
    float: right;
    width: 265px;
    
}
.top-right ul{
    /*width:290px;
    height: 33px;*/
}
.top-right ul li{
    cursor: pointer;
    float: left;
    width: 36px;
    background: url(../img/common_min_z.png) no-repeat;
    height: 19px;
    margin-top: 7px;
    /*position: absolute;*/
}

.top-right ul li.li-1{
    background-position:0 -30px;
}
.top-right ul li.li-2{
    background-position:0 -53px;
}
.top-right ul li.li-3{
    background-position:0 -76px;
}
.top-right ul li a{
    display: block;
    width: 36px;
    line-height: 33px;
}

.logon{
    overflow: hidden;
}

.logon p{
    float:left;
    
}
.logon p.last{
    margin-left: 12px;
    background: url(../img/tp-my-phone.png) no-repeat 0 8px;
}
.logon p a{
    display: block;
    padding:10px ;
    color: #999;
}
.logon p a:hover{
    color: red;
}

#wrap-center{
    background: #fff;
}

.center{
    overflow: hidden;
}
.center .center-left{
    float: left;
    padding-top: 16px;
    padding-bottom: 18px;
}

 .center .center-center{
    float: left;
    overflow: hidden;
    width: 570px;
    margin-top: 23px;
    margin-left: 108px;
    padding-bottom: 18px;
 }
.center-center .input{
    width: 564px;
    height: 36px;
    border-radius:4px ;
    overflow: hidden;
    border: 3px solid #ed145b;
    
}
.input input{
    height: 36px;
    float: left;
    border: 0;
}
.input .txt{
    color: #767676;
    font-size: 12px;
    height: 36px;
    width: 480px;
    text-indent: 14px;
}
.input .sub{
    width: 84px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #ed145b;
}

.center-center .hot{
    margin-top: 8px;
}
.hot li{
    padding: 0 7px;
    float: left;
    border-right: 1px solid #e9e6e9;
    
}
.hot li a{
    color: #666;
}
.hot li.first a,.hot li.two a{
    color: #ff0000;
}


.center-right{
    width: 278px;
    height: 40px;
    border: 1px solid #e4e4e4;
    margin-top: 23px;
    
    float: right;
}
.center-right ul{
    height: 40px;
}
.center-right ul li{
    float: left;
    border-right:1px solid #e4e4e4;
    height: 40px;
}
.center-right ul li.last{
    border-right: none;
}
.center-right ul li em{
    display: block;
    width: 20px;
    height:15px;
    background: url(../img/common_min_z.png) no-repeat;
}
.center-right ul li.first{
    width: 79px;
    
}
.center-right ul li.first em{
    margin-left:25px;
    margin-top: 5px;
    top: 0;
    background-position:0 -96px ;
}
.center-right ul li.two{
    width: 110px;
    
}
.center-right ul li.two em{
    margin-left:45px;
    margin-top: 3px;
    background-position:0 -114px ;
}
.center-right ul li p{
    text-align: center;
    font-size: 8px;
}
.center-right ul li.last{
    background: #ed145b;
    border-radius:2px ;
    width: 87px;
}
.center-right ul li.last em{
    float: left;
    margin-left: 5px;
    margin-top: 14px;
    background-position:0 -133px;
}
.center-right ul li.last a{
    display:block;
    float: left;
    padding-top: 12px;
    color: #fff;
    height: 40px;
}

#wrap-bottom{
    background:#333;
    height: 40px;
}
.bottom{
    overflow: hidden;
}

.bottom .nav{
    float: left;
    overflow: hidden;
    /*width: 977px;*/
}